{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }
    ],
    "prettier/prettier": "error",
    "react/no-unused-prop-types": 2,
    "react/require-default-props": 2
  }
}
